%h1 Certificates

= render partial: "layouts/certificates", locals: {root_certificate: @certificate, intermediate_certificate: Certificate.new, server_certificate: Certificate.new}

%hr

%h3
  = "Root certificate details (#{@certificate.common_name})"

.row
  .col-9
    .container#certificate-contents
      = CertManager::Certificate.parse(@certificate).to_text
  .col-3
    = link_to "Export certificate", "#", :class => "btn btn-primary btn-sm w-100 mb-1"
    = link_to "Export private key", "#", :class => "btn btn-primary btn-sm w-100 mb-1"
    = link_to "Renew", "#", :class => "btn btn-primary btn-sm w-100 mb-1"
    = link_to "Delete", delete_path(@certificate), :class => "btn btn-danger btn-sm w-100 mb-1"
  