.col
  .field.mb-3
    = form.label :country, {class: "form-label"}
    %em
      (2 letters only)
    = form.text_field :country, class: "form-control", value: @c,  required: "true"
  .field.mb-3
    = form.label :state, {class: "form-label"}
    = form.text_field :state, class: "form-control", value: @st, required: "true"
  .field.mb-3
    = form.label :location, {class: "form-label"}
    = form.text_field :location, class: "form-control", value: @l, required: "true"
  .field.mb-3
    = form.label :organization, {class: "form-label"}
    = form.text_field :organization, class: "form-control", value: @o, required: "true"
  .field.mb-3
    = form.label :organization_unit, {class: "form-label"}
    = form.text_field :organization_unit, class: "form-control", value: @ou, required: "true"
  .field.mb-3
    = form.label :common_name, {class: "form-label"}
    = form.text_field :common_name, class: "form-control", value: @cn, required: "true"
  .field.mb-3
    = form.label :validity, {class: "form-label"}
    %em
      (in months)
    = form.number_field :validity, class: "form-control", value: @validity, required: "true"