%h Certificates

= render partial: "layouts/certificates", locals: {root_certificate: @root_certificate, intermediate_certificate: @intermediate_certificate, server_certificate: @certificate}

%hr

%h3
  = "Server certificate details (#{@certificate.common_name})"

.row
  .col-9
    .container#certificate-contents
      = CertManager::Certificate.parse(@certificate).to_text
  .col-3
    = link_to "Export certificate (.crt)", "#", :class => "btn btn-primary btn-sm w-100 mb-1"
    = link_to "Export private key", "#", :class => "btn btn-primary btn-sm w-100 mb-1"
    = link_to "Export certificate (.pfx)", "#", :class => "btn btn-primary btn-sm w-100 mb-1"
    = link_to "Renew", renew_path(@certificate.serial), :class => "btn btn-primary btn-sm w-100 mb-1"
    = link_to "Delete", delete_path(@certificate.serial), :class => "btn btn-danger btn-sm w-100 mb-1"