.card
  .card-header
    %h2
      = certificate_type.capitalize
      - if (certificate_type == :root || certificates)
        %a.btn.btn-light.btn-outline-secondary.btn-sm{ :id => "new-#{certificate_type}-link", :href => new_path, "data-bs-toggle" => "tooltip", "data-bs-placement" => "top", "data-bs-title" => "New" }
          %svg.bi.pe-none{ :width => "16", :height => "16", "aria-hidden" => "true" }
            %use{ "xlink:href" => "#add" }
        
  - if certificates && certificates.count > 0
    %ul.list-group.list-group-flush.card-list
      - certificates.each do | certificate |
        %li{:class => "list-group-item #{'bg-info' if certificate.id == selected_certificate.id}"}
          - if certificate.is_root?
            = link_to certificate.common_name, certificates_root_path(certificate.serial)
          - if certificate.is_intermediate?
            = link_to certificate.common_name, certificates_root_intermediate_path(certificate.parent.serial, certificate.serial)
          - if certificate.is_server?
            = link_to certificate.common_name, certificates_root_intermediate_server_path(certificate.parent.parent.serial, certificate.parent.serial, certificate.serial)
          - unless certificate.is_valid?
            %em
              %small (Expired)
          %br
            %small
              = "(#{certificate.serial.upcase})"
          
  - else
    .card-body.text-bg-secondary.text-center.h-100.align-middle
      - if certificate_type == :root || certificates
        Create a certificate in this section to continue
      - else
        Select an option on the left panel to see this content
