!!! 5
%html
  %head
    %title
      = content_for(:title) || "Cert-Manager"
    %meta{ :name => "viewport", :content => "width=device-width,initial-scale=1" }
    %meta{ :name => "apple-mobile-web-app-capable", :content => "yes"}
    %meta{ :name => "mobile-web-app-capable", :content => "yes"}
    = csrf_meta_tags
    = csp_meta_tag

    = yield :head

    %link{ :rel => "icon", :href => "/icon.png", :type => "image/png"}
    %link{ :rel => "apple-touch-icon", :href => "/icon.png"}

    = stylesheet_link_tag "bootstrap", "data-turbo-track": "reload"
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_include_tag "bootstrap", "data-turbo-track": "reload"
    = javascript_importmap_tags
  
  %body
    = render "layouts/svgs"
    - if Current.user
      %nav.navbar.bg-body-tertiary
        .container-fluid
          %a.navbar-brand
            = image_tag("logo.png", alt: "Logo", width: "24", height: "24", class: "d-inline-block align-text-top")
            Cert-Manager
          .navbar-nav.me-auto
            = link_to "Home", root_path, { :class => "nav-link active", "aria-current" => "page" }  
          %button.btn.btn-outline
            = link_to "Sign out", session_path, data: { turbo_method: :delete }
      
    %main.d-flex.flex-nowrap
      .container.pt-5.overflow-auto
        = render partial: "layouts/toast", locals: {notice: notice, alert: alert}
        = yield
